* {
	margin: 0;
	padding: 0;
}
body{
	margin: 0px;
	padding: 0;
	background: #F1F1F1;
    font: 14px/160% arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑","宋体",Tahoma,Arial,Helvetica,STHeiti;
}
h1 {
	font-size: 18px;
}
.big {
	width: auto;
	height: auto;
	padding:0 15px;
	max-width: 900px;
	margin: 0 auto;
	min-height: 320px;
}
section {
	clear: left;
	margin: 30px auto 0 auto;
}
section.shadow{
	-moz-box-shadow: 3px 3px 4px #999;
    -webkit-box-shadow: 3px 3px 4px #999;
    box-shadow: 3px 3px 4px #999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');
}
section #ugw-controls {
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -ms-filter: none;
    filter: none;
}
section span {
	display: inline-block;
	min-width: 120px;
	text-align: left;
	color: #3c3c3c;
}
section .page-header {
	width: 100%;
	height: 42px;
	line-height: 42px;
	background: #666;
	color: #FFF;
	text-align: left;
	-moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
section .page-header h1 {
	padding-left:5%;
	color: #fff;
}
section .row-fluid {
	background: #FFF;
	border: 1px solid #CCC;
	border-top: none;
	padding: 15px 3%;
}
td {
    color: #333333;
    font-size: 100%;
}
ul {
	margin: 0;
	padding: 2px;
}

li {
    list-style: none;
	margin: 10px 0;
}

.btn {
	background-color: rgb(221,221,221);
	border: solid 1px gray;
    cursor: pointer;
}

.btn:active { top:1px; }

.tabs>li{
    margin-top: 2px;
    margin-left: 4px;
}

select,
textarea,
input[type=text],
input[type=password],
input[type=button],
input[type=submit] {
    border: 1px solid #AAA;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -o-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 1px 0px rgba(255,255,255,0.2);
    -ms-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 1px 0px rgba(255,255,255,0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 1px 0px rgba(255,255,255,0.2);
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 14px;
    padding: 4px;
}
input[type=button],
input[type=submit] {
	border-color: #AAA;
	box-shadow: 0px 1px 0px transparent inset, 0px 1px 3px rgba(0, 0, 0, 0.15);
	color: #111;
	text-shadow: 0px 1px 0px #FFF;
	background: none repeat scroll 0% 0% #FFF;
}

input[type=button]:hover,
input[type=submit]:hover {
    background-color: #F2F2F2;
	background-image: -o-linear-gradient(center top , #FFF, #F2F2F2);
    background-image: -ms-linear-gradient(center top , #FFF, #F2F2F2);
    background-image: -moz-linear-gradient(center top , #FFF, #F2F2F2);
    background-image: -webkit-linear-gradient(center top , #FFF, #F2F2F2);
    background-image: linear-gradient(center top , #FFF, #F2F2F2);
    border-color: #888;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

input[type=button]:active,
input[type=submit]:active {
    background-color: #EAEAEA;
    background-image: -o-linear-gradient(top, #FAFAFA, #EAEAEA);
    background-image: -ms-linear-gradient(top, #FAFAFA, #EAEAEA);
    background-image: -moz-linear-gradient(top, #FAFAFA, #EAEAEA);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#EAEAEA));
    background-image: -webkit-linear-gradient(top, #FAFAFA, #EAEAEA);
    background-image: linear-gradient(top, #FAFAFA, #EAEAEA);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.2);
}

section p.bottom span {
	padding: 0 5px 0 0;
	min-width: 0;
}

.footer {
    clear: left;
    margin: 50px auto 10px;
    text-align: center;
}
.footer a {
	color: #0066ff;
	text-decoration: none;
}
.row-fluid input {
	width: 170px;
}
.row-fluid select {
	width: 180px;
}
#ugw-controls input {
	min-width: 72px;
	height: 30px;
}
header.p-header {
	height: 42px;
	line-height: 42px;
	background: #3E4654 none repeat scroll 0% 0%;
	position: relative;
}
header.p-header .title {
    margin: 0px 60px;
    height: 42px;
    font: bold 18px/42px "microsoft yahei";
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
section p.bottom span.tipSpan {
	display: inline-block;
	color: #F00;
	font-size: 13px;
	padding-left: 20px;
}